# =====================================================================
# DomD guest configuration
# =====================================================================

seclabel='system_u:system_r:domU_t'

# Uncomment the next two lines to pass PCI device to DomU

# vpci="ecam"
# pci=["01:00.2,seize=1"]

# Guest name
name = "DomU"

# Kernel image to boot
kernel = "/usr/lib/xen/boot/linux-domu"

device_tree = "/usr/lib/xen/boot/domu.dtb"

extra = "root=/dev/xvda1 rw rootwait console=hvc0 pci=pcie_bus_perf"

# Initial memory allocation (MB)
memory = 512

# Number of VCPUS
vcpus = 2

# Uncomment this lines and add "/pmu_a76" node to
# dt_passthrough_nodes to enable PMU feature. 
# NOTE: this feature is not security supported:
# see https://xenbits.xen.org/xsa/advisory-163.html.
# It's not recommended to use it for production builds
# but it may be used for development or debugging.
# cpus = ["4", "5"]
# vpmu = 1

tee = "optee"

on_crash = 'preserve'

dt_passthrough_nodes = [
]

dtdev = ["/soc/rswitch_osid1"]

irqs = [
# rswitch gwca1_rxtx1 interrupt
    321,
]

iomem = [
# rswitch registers
    "e68c0,20",
# rswitch BAT area
    "4800f,1@20000",
]

# =====================================================================
# DomU virtual devices
# =====================================================================

# See additional comment above line 'extra = ' in machine dependent config.
# In case boot from network - comment out 'disk' AND use line with 'root=/dev/nfs' in machine dependent config.
# In case boot from block device - uncomment 'disk' AND use line with 'root=/dev/xvda1' (or 'root=/dev/vda') in machine dependent config.
disk = [ 'backend=DomD, phy:/dev/STORAGE_PART3, xvda1' ]

# We use predefined MAC addresses for domains:
#  08:00:27:ff:cb:cd - domF
#  08:00:27:ff:cb:ce - domA
#  08:00:27:ff:cb:cf - domU
vif = [ 'backend=DomD, bridge=xenbr0, mac=08:00:27:ff:cb:cf' ]

rswitch_vport = [ 'backend=DomD, osid=1' ]
